/*

    Name:       Minimal Light
    Author:     Sebastian Sastre

    Original Minimal Light color scheme by Sebastian Sastre (https://github.com/sebastianconcept)

*/

.cm-minimal-light.CodeMirror {background: #f5f5f5; color: #202020;}
.cm-minimal-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-minimal-light .CodeMirror-gutters {background: #f5f5f5; border-right: 0px;}
.cm-minimal-light .CodeMirror-guttermarker { color: #ac4142; }
.cm-minimal-light .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-minimal-light .CodeMirror-linenumber {color: #b0b0b0;}
.cm-minimal-light .CodeMirror-cursor {border-left: 1px solid #505050 !important;}

.cm-minimal-light span.cm-comment {color: #8f5536;}
.cm-minimal-light span.cm-atom {color: #aa759f;}
.cm-minimal-light span.cm-number {color: #aa759f;}

.cm-minimal-light span.cm-property, .cm-minimal-light span.cm-attribute {color: #90a959;}
.cm-minimal-light span.cm-keyword {color: #ac4142;}
.cm-minimal-light span.cm-string {color: #f4bf75;}

.cm-minimal-light span.cm-variable {color: #90a959;}
.cm-minimal-light span.cm-variable-2 {color: #6a9fb5;}
.cm-minimal-light span.cm-def {color: #d28445;}
.cm-minimal-light span.cm-bracket {color: #202020;}
.cm-minimal-light span.cm-tag {color: #ac4142;}
.cm-minimal-light span.cm-link {color: #aa759f;}
.cm-minimal-light span.cm-error {background: #ac4142; color: #505050;}

.cm-minimal-light .CodeMirror-activeline-background {background: #DDDCDC !important;}
.cm-minimal-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
