/*

    Name:       Minimal Light
    Author:     Sebastian Sastre

    Original Minimal Light color scheme by Sebastian Sastre (https://github.com/sebastianconcept)

*/

.cm-s-minimal-light.CodeMirror {background: #FCF1D9; color: #202020;}
.cm-s-minimal-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-minimal-light .CodeMirror-gutters {background: #FFF8D7; border-right: 0px;}
.cm-s-minimal-light .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-minimal-light .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-s-minimal-light .CodeMirror-linenumber {color: #b0b0b0;}
.cm-s-minimal-light .CodeMirror-cursor {border-left: 1px solid #505050 !important;}

.cm-s-minimal-light span.cm-comment {color: #9E9D8B; font-style: italic;}
.cm-s-minimal-light span.cm-atom {color: #aa759f;}
.cm-s-minimal-light span.cm-number {color: #aa759f;}

.cm-s-minimal-light span.cm-property, .cm-s-minimal-light span.cm-attribute {color: #90a959;}
.cm-s-minimal-light span.cm-keyword {color: #A35904; font-weight: bold;}
.cm-s-minimal-light span.cm-string {color: #B68D0A;}
.cm-s-minimal-light span.cm-string-2 {color: #E56828}

.cm-s-minimal-light span.cm-variable {color: #0E4B9B; font-weight: bold;}

ul.classes {
    color: #0E4B9B !important; 
}

ul.classes li:hover {
	color: white !important;
}

.cm-s-minimal-light span.cm-variable-2 {color: #6a9fb5;}
.cm-s-minimal-light span.cm-def {color: #d28445;}
.cm-s-minimal-light span.cm-bracket {color: #202020;}
.cm-s-minimal-light span.cm-tag {color: #ac4142;}
.cm-s-minimal-light span.cm-link {color: #aa759f;}
.cm-s-minimal-light span.cm-error {background: #ac4142; color: #505050;}

.cm-s-minimal-light .CodeMirror-activeline-background {background: #DDDCDC !important;}
.cm-s-minimal-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
